@font-face {
  font-family: VerilySerifMono;
  src: url('/fonts/VerilySerifMono.otf');
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-color: $light;
}

table {
  background-color: $greenish;
}

html, body {
  @include no-select();
  height: 100%;
  margin: 0;
}

#game {
  min-height: 100%;

  margin-bottom: -40px;
}

.is-primary, .is-active > a {
  background-color: $blue !important;
  border-color: $blue !important;
}

.is-warning {
  background-color: $yellow !important;
  border-color: $yellow !important;
}

.is-danger {
  background-color: $red !important;
  border-color: $red !important;
}

a, i, strong {
  color: $dark;
}

.noty_type__error {
  background-color: $red !important;
}

.noty_type__success {
  background-color: $blue !important;
}

.text {
  margin: 10px;
}

.footer {
  height: 30px !important;
  text-align: center;
  font-size: 10pt;
  background-color: $light !important;
  padding: 15px !important;
}

.footer,
.push {
  height: 40px;
}

canvas {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.monospace {
  font-family: VerilySerifMono;
}
