<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="icon" href="<%= BASE_URL %>favicon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="<%= BASE_URL %>favicon/writing-with-pencil-2-152-309243.png">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="<%= BASE_URL %>favicon/writing-with-pencil-2-144-309243.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= BASE_URL %>favicon/writing-with-pencil-2-152-309243.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= BASE_URL %>favicon/writing-with-pencil-2-144-309243.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= BASE_URL %>favicon/writing-with-pencil-2-120-309243.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= BASE_URL %>favicon/writing-with-pencil-2-114-309243.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= BASE_URL %>favicon/writing-with-pencil-2-72-309243.png">
    <link rel="apple-touch-icon-precomposed" href="<%= BASE_URL %>favicon/writing-with-pencil-2-57-309243.png">
    <link rel="icon" href="<%= BASE_URL %>favicon/writing-with-pencil-2-32-309243.png" sizes="32x32">

    <title>writer</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but writer doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="canvas"></div>
    <div id="game"></div>
    <!-- built files will be auto injected -->
    <footer class="footer">
      <a target="_blank" href="/changelog.txt">Writer Incremental Alpha 5.</a> Clear cookies for writer.neat.af if your game broke. Copyright &copy;2019 Prajna Concepts. <a href="mailto:writer@neat.af">writer@neat.af</a>
    </footer>
  </body>
</html>
